@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "All Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">

    @foreach (var movie in Model) {
        <tr>
            <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
        </tr>
    }

</table>