@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    @foreach (var customer in Model)
    {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id}, null)</td>
            <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id}, null)</td>
            <td>@customer.MembershipType.Name</td>
        </tr>
    }
</table>
