@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table id="customers" class="table">
    @foreach (var customer in Model)
    {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id}, null)</td>
            <td>@Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id}, null)</td>
            <td>
                <button data-customer-id="@customer.Id"class="btn-link js-delete">Delete</button>
            </td>
            <td>@customer.MembershipType.Name</td>
        </tr>
    }
</table>
@section scripts{
    <script>
        $(document).ready(function() {
            CustomersController.init("#customers");
        });
    </script>
}